<footer class="site-footer">
  <div class="wrap">
    <div>© {{ 'now' | date: "%Y" }} {{ shop.name }}</div>
    <div class="socials"><a href="#">Instagram</a> <a href="#">LinkedIn</a></div>
  </div>
</footer>